pandas==2.1.4
Pillow==10.0.1
scikit-learn==1.3.2
torch==2.1.1
torchmetrics==1.8.2
torchvision==0.16.1
tqdm==4.26.0
numpy==1.23.5
pycocotools
git+https://github.com/AIOZNetwork/w3ai-node-base.git
git+https://github.com/AIOZNetwork/w3ai-node-public.git
GPUtil==1.4.0
psutil==5.9.5